/*body {*/
  /*min-height: 2000px;*/
  /*padding-top: 70px;*/
/*}*/

#container {
    width: 1140px;
    margin: 20px auto;
}


/*********************/



.box{

	-webkit-box-shadow: -1px 2px 15px -1px rgba(77,75,77,1);
	-moz-box-shadow: -1px 2px 15px -1px rgba(77,75,77,1);
	box-shadow: -1px 2px 15px -1px rgba(77,75,77,1);
}

.pdf{
	padding-top : 25px ;
	padding-left : 20px ;
	padding-bottom : 25px ;
	padding-right : 20px ;
}

.visible{
	display: block ;
	margin: 2px;
}

.invisible{
	display: none;
}